<h2>Capsule mod for Minecraft 1.8</h2>
<p>for use with Forge 1.8-11.14.3.1450 or compatible</p>
<p><span style="font-size: 14pt;"><em>This mod allows you to capture a region containing any blocks or machines, then deploy and undeploy it at will. It is inspired by Dragon Ball capsules.</em></span></p>
<p><span style="font-size: 12pt;">Download link :&nbsp;<a href="http://minecraft.curseforge.com/mc-mods/235338-capsule/files">http://minecraft.curseforge.com/mc-mods/235338-capsule/files<br /></a></span>&gt; Please use this link for redistribution&nbsp;to help&nbsp;the mod author !</p>
<h3>Basics</h3>
<h4>Items and blocks</h4>
<h5>Capture Base</h5>
<h5><img src="http://samuel-bouchet.fr/capsule/capture_base.png" alt="Capture Base Block" width="177" height="120" /></h5>
<p>Used for the initial capture. You'll be able to capture the region on the top of it. &nbsp;Place it somewhere under what you want to capture, or in a free space and build on top of it.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><img src="http://samuel-bouchet.fr/capsule/recipe_capturebase.png" alt="Capture Base recipe" width="237" height="112" /><br /><em>"Capture Base" recipe</em></p>
<p style="text-align: center;">&nbsp;</p>
<h5>Empty Capsule&nbsp;</h5>
<p><img src="http://samuel-bouchet.fr/capsule/capture_iron.png" alt="Capture zone example" width="201" height="136" />&nbsp;<img src="http://samuel-bouchet.fr/capsule/capture_gold.png" alt="Capture zone example" width="201" height="136" />&nbsp;<img src="http://samuel-bouchet.fr/capsule/capture_diamond.png" alt="Capture zone example" width="201" height="136" /></p>
<p>Capture the zone defined by the capture base, the capture zone will be visualized when holding the Empty Capsule.</p>
<p>Usage :&nbsp;throw the activated capsule against the zone to capture.</p>
<ul>
<li><em>Right click</em> :&nbsp;activate</li>
<li><em>Right click&nbsp;(or drop button) while activated&nbsp;</em>&nbsp;: throw the capsule.</li>
</ul>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://samuel-bouchet.fr/capsule/recipe_iron.png" alt="&quot;Iron Empty Capsule&quot; recipe" width="237" height="112" /></p>
<p style="text-align: center;"><em>"Iron Empty Capsule" recipe, capture size : 3x3x3</em></p>
<p>&nbsp;</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://samuel-bouchet.fr/capsule/recipe_gold.png" alt="&quot;Gold Empty Capsule&quot; recipe" width="237" height="112" /></p>
<p style="text-align: center;"><em>"Gold Empty Capsule" recipe, capture size : 5x5x5</em></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://samuel-bouchet.fr/capsule/recipe_diamond.png" alt="&quot;Diamond Empty Capsule&quot; recipe" width="237" height="112" /></p>
<p style="text-align: center;"><em>"Diamond Empty Capsule" recipe, capture size : 7x7x7</em></p>
<h5>Unlabeled Capsule</h5>
<p>Once the content is captured, the capsule can be deployed or undeployed at will. <br /> Note that all the capsule can be died (affect the label color).<br /> Usages :</p>
<ul>
<li><em>Deploy</em> : Right click once to activate, right click again (or "drop") to throw the capsule and deploy where is collides.</li>
<li><em>Undeploy</em> : Right click the "Deployed" capsule and the content will be stored again into the capsule.</li>
<li><em>Label</em> : Sneak + Right click to open the label editing screen.</li>
</ul>
<h5>Recovery Capsule</h5>
<p>One-use capsule that can retrieve the content of a referenced capsule.&nbsp;</p>
<p>Can be used to backup a capsule and retrieve the content in case of lost.</p>
<p>The content of the original capsule will be emptied.</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://samuel-bouchet.fr/capsule/recipe_recovery.png" alt="&quot;Recovery Capsule&quot; recipe" width="237" height="112" /></p>
<p style="text-align: center;"><em>"Recovery Capsule" recipe</em></p>
<h4>Enchantment</h4>
<h4><img src="http://samuel-bouchet.fr/capsule/enchant.png" alt="Enchant &quot;Recall I&quot; on a capsule" width="295" height="200" /></h4>
<p>This mod adds a unique enchantment : Recall.<br /><em>Cost :</em> 1 level.<br /><em>Max :</em> Recall I.<br /><em>Effect :</em> Whenever a recall enchanted item is dropped and touches the ground, it come back into the thrower inventory after a last update.</p>
<p>Immediate recall when in contact of water or lava (prevent burning).</p>
<p>This enchant is of courses intended to be used on capsules. Without this enchantment you have to pick up the thrown capsule manually.<br />It can as well be applied by default (configurable) on any enchantable item. Can be usefull to fight against inventory dropping monsters of to prevent unintentional drop.</p>
<h4>Demonstration</h4>
<h5>Very basics in 20sec</h5>
<p><iframe allowfullscreen="allowfullscreen" src="http://www.youtube.com/embed/vHhck9Chen8?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<h5>&nbsp;Full mod review by junk_72385 (Thank you !)</h5>
<p><iframe allowfullscreen="allowfullscreen" src="http://www.youtube.com/embed/_181CZF4vUM?wmode=transparent" height="358" width="638"></iframe></p>
<h3>Safety first</h3>
<p>If you lose your capsule, the content might be lost forever.</p>
<p>To avoid this, here are a few safety tips for you :</p>
<ol>
<li>create a recevory capsule and keep it in a safe place;</li>
<li>enchant your capsule with Recall I to avoid to fall into lava or in an unaccessible pit;</li>
<li>as a final workaround, you can use in creative mode the "Creative player2capsule teleporter". Right click to TP to the capsule special dimension, Right clic kagain to come back.</li>
</ol>
<h3>Modpack makers</h3>
<p>I got a few things for you :</p>
<ol>
<li>The mod is shipped with 3 sizes of capsules (3x3x3, 5x5x5, 7x7x7) but you can create custom capsule recipes using you favorite recipe injection mod by configuring it's meta + NBTCompoundTag.</li>
<li>This includes a special "Reward" mode, wich is basically a one-use capsule that duplicate source content. The content will not be teleported but duplicated : several identicial reward caspules can be used by players to retrieve the reward.</li>
</ol>
<h4>How to - quick customization</h4>
<h5>Create a custom capsule by exemple</h5>
<p>Tip: you can convert RGB color hexa using http://www.binaryhexconverter.com/hex-to-decimal-converter. ex: FF0000 will give you the decimal value for red (16711680).</p>
<p>&nbsp;# 17x17x17 black Empty Capsule with Recall I<br />/give @p capsule:capsule 1 0 {color:0, size:17, ench:{id:101,lvl:1}}</p>
<p>&nbsp;# 9x9x9 green labeled, black Empty Capsule, named "Redstone Capsule". Label and name will appear once some content is captured.<br />/give @p capsule:capsule 1 0 {color:16711680, size:9, label:"Redstone", display:{color:65280}}</p>
<p>&nbsp;# 69x69x69 black labeled, white Empty Capsule with Recall I. Label will appear once some content is captured.<br />/give @p capsule:capsule 1 0 {color:16777215, size:69, ench:{id:101,lvl:1}, display:{color:0}}</p>
<h5>Create a reward capsule</h5>
<ol>
<li>Spawn or craft an empty capsule (exemples of custom empty capsule in the previous paragraph)</li>
<li>Capture content on a capture base</li>
<li>Craft a Recovery capsule using your capsule and a glass_bottle</li>
<li>With the Recovery capsule in hand, use the command /capsule isReward true</li>
</ol>
<p>If it worked, the capsule should be name "One Use &lt;label&gt; Capsule". Use this item as reward.</p>
<h5>Capsule item full documentation</h5>
<p><em>Capsule item id :</em> "capsule:capsule"<br /><em>Capsule item Meta:</em></p>
<ul>
<li>0 - Empty capsule (The state you want to use in the first place for a custom capsule with standard behaviour)</li>
<li>5 - One-Use Empty capsule (The state you want to use in the first place while creating for a custom recovery or reward capsule with one-use behaviour)</li>
</ul>
<p>Capsule item other Meta, for information :</p>
<ul>
<li>1 - Empty-Activated capsule (internal state, do not create capsule with this state)</li>
<li>2 - Linked capsule (means that the capsule has a content, use only if you know what you are doing)</li>
<li>3 - Deployed capsule (means that the capsule has a deployed content, use only if you know what you are doing)</li>
<li>4 - Linked-Activated capsule (internal state, do not create capsule with this state)</li>
<li>6 - One-Use-Activated capsule (internal state, do not create capsule with this state)</li>
</ul>
<pre>Capsule NBTTagCompound :<br />{<br />    color, <span style="color: #808080;"><em>#Color of the capsule material. Will affect capsule item color and capture preview wireframes color. RGB 24 bits integer. Ex: 16711680.</em></span><br />    size, <span style="color: #808080;"><em>#Size of the capsule, must be an odd number between 1 and 69 included. There is a hard limit to prevent numbers higher than 69 and even numbers. ex: 17.</em></span><br />    label, <span style="color: #808080;"><em>#Label of the capsule. The capsule will indicate "Unlabeled" in the name if not existing, or will use the value otherwise. Ex: "AnytimeLadder".</em></span><br />    ench: { <span style="color: #808080;"># Vanilla enchant format for items (compound tag with id and lvl). 101 is the Recall enchant and it has only one level.</span><br />        id: 101,<br />        lvl: 1<br />    },<br />    display: { <span style="color: #808080;"># Vanilla way of indicating a died item. Color of the label. Will affect capsule item label color only. RGB 24 bits integer. Ex: 16711680.</span><br />        color<br />    },<br />    oneUse, <span style="color: #808080;"># If the capsule should be destroyed once deployed. If true, the capsule will be considered as a Recovery capsule. 0 or ommited for false, 1 for true.</span><br />    isReward <span style="color: #808080;"># If the capsule should deploy a duplicated content. If true, the capsule will be considered as a Reward capsule. Won't work if the capsule is not oneUse as well. 0 or ommited for false, 1 for true.</span><br />}</pre>
<p>Other Tags are used as internal state. To have them properly created on your item, you should simply always spawn an empty capsule, then have it in the state you want by using it (capturing, deploying, etc.).</p>
<h3>&nbsp;</h3>
<h3>Changelog</h3>
<h4>1.8-1.0.2 : Capsule labeling fix + configurable overridable and excluded blocks</h4>
<p>* Add overridable and excluded blocks in config files. You can now choose is you want this spawner to get captured =)<br />* Improve feedback when an entity prevent the capsule from deploying. Ex: "Can't deploy : in the way !"<br />* Fix label taking only the first letters when edited.<br />* Fix some block states (ie. some flowers) that would not get overriden on deploy and prevent the capsule from deploying.</p>
<p><strong class="bbc">Older :</strong></p>
<div class="spoiler" data-spoiler-title="">
<h4>1.8-1.0.1 : Dedicated server fix + various bug fixes</h4>
<p>* Downgrade minecraftforge dependency to recommanded version (11.14.3.1450). Still compatible with latest version.<br />* Allow the mod to run on dedicated server<br />* Fix encoding for the capsule label quotes<br />* Fix mobs not preventing capsule to deploy</p>
<h4>1.8-1.0.0 : Initial release</h4>
<p>Items :</p>
<p>* capsule item (iron, gold and diamon)<br />* creative player2Capsule teleporter</p>
<p>Blocks :</p>
<p>* captures base</p>
</div>
<h3>&nbsp;</h3>
<h3>FAQ</h3>
<p><strong>Can I use in my modpack ?</strong></p>
<p>Yes, please simply give a link to this page and mention <em>Lythom</em> as&nbsp;the mod author.</p>
<p>&nbsp;</p>
<p><strong>Is this open source ?</strong></p>
<p>Yes, there :&nbsp;https://bitbucket.org/Lythom/mccapsule.</p>
<p><em>License</em>&nbsp;: http://creativecommons.org/licenses/by/3.0/.</p>
<p><em>License TLDR&nbsp;</em>: No guarranties, for legal use only, give proper credit, indicate if and what changes were made.</p>
<p>Pull request are welcome if it fits the capsule feature, but please notify me by PM&nbsp;before coding so that I give you a direct feedback on the PR acception chances.</p>
<p>&nbsp;</p>
<p><strong>Is 1.7 version coming ?</strong></p>
<p>I started modding with 1.8 so 1.7.10 feels unknown and the work to go to 1.7.10 is not easy. I might go for it but it won't have time for it soon. If some 1.7 modder is confortable with TESR and simple networking, pull requests (even "unworking but you get the idea") are welcomed at <a href="https://bitbucket.org/Lythom/mccapsule/branch/1.7.10" target="_blank" rel="nofollow">https://bitbucket.org/Lythom/mccapsule/branch/1.7.10</a>.</p>
<p>&nbsp;</p>
<p><strong>Will there be new features ?</strong></p>
<p>Not for now. You can make&nbsp;suggestions, be aware that I intend to keep the mod as simple and essential as possible.</p>
<p>&nbsp;</p>